<div id="attendees">
	<div class="card">
			<div class="card-body">
					<h7 class="card-title"> <%= fa_icon "users", text: "Attending / Attended" %> </h7>
					<% @event_details.attendees.each do |attendee| %>
						<%= content_tag :span, class: "badge badge-info" do -%>
							<%= attendee.fullname.titlecase %>
						<% end -%>
					<% end %>
			</div>
		</div>
</div>