<div class="row">
	<div class="col-md-12">
			<%= image_tag "bg.png", class: "img-fluid" %>
		<div class="card text-center">
			<div class="card-header">
				Welcome Aboard!
			</div>
			<div class="card-body">

				<h5 class="card-title">Signup free to attend events nearby! </h5>
				<p class="card-text">This is an exclusive platform where registered users can attend an event, create or invite other members to thier
					events. </p>
				<p>It's easy to use, just create a username, login and see list of events to attend</p>

			</div>
			<div class="card-footer text-muted">
				<p> This is a prototyoe app that models <a href="https://eventbrite.com" target="_blank"><b>Eventbrite</b></a></p>
				<footer class="blockquote-footer">Powered by RoR <cite title="Source Title">Microverse</cite></footer>
			</div>
		</div>
	</div>
</div>
